/*
The following is the code I used when browsing the sports section of Reddit via the Stylish browser extension. 
For more information on stylish, you can check out 
https://en.wikipedia.org/wiki/Stylish.

Thanks to Johannes. His Stylish browser extensions can be found on
https://userstyles.org/styles/84353/reddit-hide-sponsored-links

I added custom links to Johannes's code to personalise my reddit experience. 

You can modify this code by adding links that you want to ignore.  

div[data-domain="linksYouWantToIgnore.com"]{
  display: none!important;
}

You can ignore posts made by certain redditors by using "data-author". 
E.g. if you want to ignore posts made by author "Dan123it", you would insert this code

div[data-author="Dan123it"] {
    background-color: black !important;
}

It's not pretty.

You can learn more about Css selectors from
http://www.w3schools.com/cssref/css_selectors.asp

*/

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("reddit.com") {
  
 .promoted {
  display: none !important;
 }
  
 /* ignore twitter posts */  
  div[data-domain="twitter.com"]{
    display: none !important;
  }
  
  /* ignore espn.go.com posts */
  div[data-domain="espn.go.com"]{
    display: none !important;
  }
  
  /* ignore mobile.twitter.com posts */
  div[data-domain="mobile.twitter.com"]{
    display: none !important;
  }
  
  /* ignore espnfc.com posts */
  div[data-domain="espnfc.com"]{
    display: none !important;
  }
  
  /*ignore skyspots.com posts */
  div[data-domain="skysports.com"]{
    display: none !important;
  }
  
  /*ignore thesun.co.uk posts */
  div[data-domain="thesun.co.uk"]{
    display: none !important;
  }
  
  /*
  ignore posts made by reddit user Dan123it
  div[data-author="Dan123it"] {
    background-color: black !important;
  }
  */
}
